.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 20px;
  height: 50vh;
  font-size: 20px;
}

.myaplayer {
  margin: 50px 20px;
}

.meting {
  margin: 50px 20px;
}
