.navtitle {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  .col {
    .title {
      padding: 0 5px;
      &::after {
        content: ":";
      }
    }
    .link:not(:last-child) {
      margin-right: 8px;
    }
  }
}
